.main__profile {
  background-color: #F5F5F5;
  .profile__body {

    .profile__container {
      max-width: 1200px;
      margin: 0 auto;
    }
    .profile__block {
      display: flex;
      background-color: white;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      border-radius: 10px;
      border: 1px solid black;
      padding: 1rem 2.5rem 1rem 1rem;
      font-size: 2rem;
    }

    .profile__content {
      .content__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
      }
    }
  }
}
