.post {
  min-width: 741px;
  min-height: 802px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  padding: 3rem;

  &:not(:first-of-type) {
    margin-top: 1.5rem;
  }
  .post__head {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    .post__delete-btn {
      display: none;
      &_show {
        display: block;
        right: -30px;
        top: -40px;
        position: absolute;
        font-size: 2rem;
        right: -30px;
        top: -40px;
      }
    }
    .post__author {
      display: flex;
      flex-direction: row;
      align-items: center;

      .author__info {
        margin-left: 1rem;
        .author__name {
          margin-bottom: .5rem;
        }
        .author__desc {
          color: #89939E;
        }
      }
    }

    .post__subscribe {
      font-family: Inter;
      color: white;
      padding: 1rem 2rem;
      border-radius: 4px;
      background-color: #AF4C4C;

      &_active {
        background-color: white;
        color: #AF4C4C;
        border: 1px solid #4D4D4D;
      }
    }
  }
  .post__body {
    margin-top: 1.5rem;
    .post__image {
      border: 1px solid #BB6666;
      border-radius: 5px;
      max-width: 470px;
    }
    .post__desc {
      margin-top: 1rem;
    }
  }
  .post__footer {
    .post__controls {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .post__tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 300px;
        gap: 10px;
        .post__tag {
          color: #AF4C4C;
          padding: .5rem;
          border: 1px solid #AF4C4C;
          border-radius: 4px;
          max-width: 103px;

        }
      }
      .post__activity {
        display: flex;
        .post__comments {
          display: flex;
          align-items: center;
          margin-right: 2rem;

          .comments__count {
            margin-left: 1rem;
            font-size: 1.75rem
          }
        }
        .post__likes {
          display: flex;
          align-items: center;

          .likes__count {
            margin-left: 1rem;
            font-size: 1.75rem
          }
        }
      }
    }
  }
}